.navbar-form {
    display: grid;
    grid-template-columns: auto auto 1fr; /* Define columns */
    align-items: center; /* Align elements vertically */
    gap: 10px; /* Add some gap between elements */
}

.navbar-form button {
    grid-column: 3; /* Place button in the third column */
}
.dropdown-toggle, .dropdown-item{

    cursor: pointer;
}.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline;
}
.text-button {
    background: none; /* Remove background color */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    font:500px; /* Inherit font styling from parent */
    color:chartreuse; /* Set text color (you can adjust as needed) */
    
  }
  
  .text-button:hover {
    color:chartreuse; /* Optional: change color on hover */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
  }
  