<div class="parent">
    <div class="wrapper">
        <form #resetForm="ngForm" (ngSubmit)="reset(resetForm)">
            <h1>Forgot Password</h1>
            <div class="form-group input-box">
                <label for="email">Email</label>
                <div class="input-container">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" placeholder="example@ex.com" name="email"
                        [(ngModel)]="credentials.email" #email="ngModel" required email>
                </div>
                <div *ngIf="email.invalid && email.touched" class="error">
                    Valid email is required.
                </div>
            </div> 
            <button class="btn" type="submit" [disabled]="resetForm.invalid">Send Reset Link</button>
        </form>
    </div>
</div>