<div class="parent">
    <div class="wrapper">
        <form #resetPasswordForm="ngForm" (ngSubmit)="reset(resetPasswordForm)">
            <h1>Reset Password</h1>
            
            <!-- New Password -->
            <div class="form-group input-box">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword"
                    [(ngModel)]="credential.newPassword" #newPassword="ngModel" required minlength="8">
                <div *ngIf="newPassword.invalid && newPassword.touched" class="error">
                    Password should be at least 8 digits and should contains Lowercase, NonAlphanumeric and Uppercase
                </div>
            </div>

           
           

            <!-- Submit Button -->
            <button class="btn" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
        </form>
    </div>
</div>
